<section id="register" class="text-center d-flex">
    <div class="container my-auto">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Créer un compte</h3>
                <div class="fieldWrapper my-label">
                    <label for="{{ form.password.id_for_label }}">E-mail</label>
                    {{ form_2.email }}
                </div>
                <div class="fieldWrapper my-label">
                    <label for="{{ form.username.id_for_label }}">Nom d'utilisateur</label>
                    {{ form_2.user_name }}
                </div>
                <div class="fieldWrapper my-label">
                    <label for="{{ form.password.id_for_label }}">Mot de passe</label>
                    {{ form_2.password }}
                </div>
                <div class="fieldWrapper my-label">
                    <label for="{{ form.password.id_for_label }}">Je ne suis pas un robot</label>
                    {{ form_2.checkbox }}
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">S‘inscrire</button>
            </div>
        </form>
    </div>
    </div>
</section>