
.navbar-brand img {
    width: 50px;
}

.col-lg-4 img {
    width: 70%;
}

#services {
    margin: 5% 0 5% 0;
}

#contact * {
    color: white;
}

.nav-item ::placeholder {
    font-style: italic;
}

.masthead ::placeholder {
    font-style: italic;
}

#tourpackages-carousel {
    text-align: center;
}


#tourpackages-carousel .thumbnail {
    background-color: #e09436;
}

#tourpackages-carousel h4 {
    color: white;
}

.row .caption {
    min-height: 600px;
    max-height: 600px;
}

.list-group{
    text-align: center;
}

.caption span{
    float: right;
    padding: 1% 3% 1% 3%;
    position: relative;
    right: -10px;
}
.caption span.A{
    background-color: green;
    color: white;
}
.caption span.B{
    background-color: gold;
}
.caption span.C{
    background-color: yellow;
}
.caption span.D{
    background-color: orange;
}
.caption span.E{
    background-color: red;
    color: white;
}

.list-group{
    width: 70%;

}
.progress-bar-transparent{
    background-color: #f5c6cb;
}
.progress:nth-child(2n){
    background-color: #f5c6cb;
}
.container .products img{
    margin-right: 7%;
}
.container .productsimg, .container .products .list-group{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5%;
    text-align: center;
}

.pagination{
    background-color: #4CAF50;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pagination a{
    color: white;
    text-decoration: none;
    
}