{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'catalog:index' %}"><img
                src="{% static 'catalog/img/logo_pur_beurre.png' %}" /> Pur Beurre</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <!-- Search form -->
                    <form id="search" action="{% url 'catalog:search' %}" accept-charset="utf-8">
                        <input class="form-control" type="text" placeholder="Rechercher un produit" aria-label="Search"
                            name="query_one" autocomplete="off" required>
                    </form>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'account:profile' %}"><img
                                src="{% static 'catalog/img/user.svg' %}" height="30px" alt="user"></a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'account:favorites' %}"><img
                            src="{% static 'catalog/img/carrot.svg' %}" height="30px" alt="carotte"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'account:logout' %}"><img src="{% static 'catalog/img/logout.svg' %}" height="30px" alt="carotte"></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'account:index' %}"><img
                            src="{% static 'catalog/img/user.svg' %}" height="30px" alt="user"></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>