{% load static %}
<!-- Footer -->
<footer class="bg-light py-5">
    <div class="d-flex justify-content-around">
        <a href="{% url 'catalog:notices' %}">Mentions légales</a>
        <a href="{% url 'catalog:index' %}#contact">Contact</a>
    </div>
</footer>
<!-- jQuery -->
<script src="{% static 'catalog/vendor/jquery/jquery.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<script src="{% static 'catalog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'catalog/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'catalog/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'catalog/js/creative.min.js' %}"></script>