{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-baseline">
                <h2 class="text-white-75 font-weight-light mb-5">{{ message }}
                </h2>
            </div>
        </div>
    </div>
</header>
<section id="services">
    {% if not query_one_infos %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0"><em>Aucun produit n'a été trouvé pour la requête suivante : {{ message }}</em></h2>
                <img src="{% static 'catalog/img/Colette Tatou.png' %}">
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container" id="tourpackages-carousel">
        <div class="row">
            {% for r in query_one_infos %}
            <div class="col-xs-18 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <span class="{{ r.nutriscore }}">{{ r.nutriscore }}</span>
                        <img src="{{ r.image }}" height="200" width="100%">
                        <h4>{{ r.name }}</h4>
                        {% if r.description %}
                        <b>
                            <p><em>{{ r.description }}</em></p>
                        </b>
                        {% else %}
                        <b><em>Pas de description disponible </em></b><img src="{% static 'catalog/img/136366.svg' %}"
                            height="30">
                        <br />
                        {% endif %}
                        <p><a href="{% url 'catalog:detail' r.id %}" class="btn btn-info btn-xs" role="button">En
                                savoir plus sur l'aliment</a>
                            {% if user.is_authenticated %}
                            <form method="post" action="{% url 'catalog:favorite' r.id  %}">
                                {% csrf_token %}
                                <i class="fa fa-floppy-o" aria-hidden="true"></i><input class="btn btn-default btn-xs"
                                    type="submit" value="Sauvegarder" id="{{ r.id }}" title="{{ r.id }}">
                            </form>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br />
    </div>
</section>
{% endblock %}